@{
    ViewData["Title"] = "Home Page";
}

<div class="tracker-body container">
    <div class="container">
        <div class="balance">
            <h4>Your Balance</h4>
            <h1 id="balance">0.00</h1>
        </div>

        <div class="inc-exp-container">
            <div>
                <h4>Income</h4>
                <p id="money-plus" class="money plus">+$0.00</p>
            </div>
            <div>
                <h4>Expense</h4>
                <p id="money-minus" class="money minus">-$0.00</p>
            </div>
        </div>

        <div class="button">
            <button id="btn-income" class="btn btn-success">Add Income</button>
            <button id="btn-expense" class="btn btn-danger">Add Expense</button>
        </div>

        <div id="incomeSubmitForm" class="add">
            <form id="income-form" method="post">
                <span id="btn-close-income-form" class="close-btn"><i class="fa fa-times"></i></span>
                <div class="form-group">
                    <label for="income"></label>
                    <input type="text" id="income-from" placeholder="Enter income" class="form-control">
                    <small id="error-income-from"></small>
                </div>
                <div class="form-group">
                    <label for="value"></label>
                    <input type="number" id="income-value" placeholder="Enter value" class="form-control">
                    <small id="error-income-value"></small>
                </div>
                <div class="form-group">
                    <button id="btn-income-request" type="button" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        <div id="expenseSubmitForm" class="add">
            <form id="expense-form" method="post">
                <span id="btn-close-expense-form" class="close-btn"><i class="fa fa-times"></i></span>
                <div class="form-group">
                    <label for="expense"></label>
                    <input type="text" id="expense-from" placeholder="Enter expense" class="form-control">
                    <small id="error-expense-from"></small>
                </div>
                <div class="form-group">
                    <label for="value"></label>
                    <input type="number" id="expense-value" placeholder="Enter value" class="form-control">
                    <small id="error-expense-value"></small>
                </div>
                <div class="form-group">
                    <button id="btn-expense-request" type="button" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        

        <div class="history">
            <select id="history">
                <optgroup label="History">
                    <option selected hidden>History</option>
                    <option value="daily history">daily</option>
                    <option value="all history">all the time</option>
                    <option value="by date">by date</option>
                </optgroup>
                <optgroup label="Incomes">
                    <option value="daily incomes">daily</option>
                    <option value="all incomes">all</option>
                </optgroup>
                <optgroup label="Expenses">
                    <option value="daily expenses">daily</option>
                    <option value="all expenses">all</option>
                </optgroup>
            </select>
            <div id="by-date"></div>
        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody id="table">
                </tbody>
            </table>
        </div>

    </div>
</div>