@model IEnumerable<ExpenseTracker.ViewModels.GetAllExpensesViewModel>
@{ 
    ViewData["Title"] = "All Expanse";
}

<div class="container">

    @foreach (var e in Model)
    {
        <p>@e.ExpenseFrom</p>
        <p>@e.Value</p>
        <p>@e.DateTime</p>
    }
</div>
